<div class="jumbotron">
  <h1>Repositorio Compos Mentis</h1>
  <p>
    Um projeto de repositorio e uso de licencas criativas
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', cadastro_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
